<h2>Add Course</h2>

<form action="/courses" method="POST">
    <input name="courseName" placeholder="Course Name" required />
    <input name="price" placeholder="Price" required />
    <input name="image" placeholder="Image URL" required />
    <input name="duration" placeholder="Duration" required />
    <input type="date" name="courseStartDate" required />

    <button>Add</button>
</form>

<a href="/courses">Back</a>